# Nix/direnv
/result*
/.direnv/

# Binary destination from `make`
/nixos

# For bubbletea log files
*.log

# Built documentation site
/site/

# Built man pages
/man/

# Generated documentation artifacts
/doc/src/generated-module.md
/doc/src/generated-settings.md
/doc/man/nixos-cli-settings.5.scd
!/doc/man/nixos-cli-settings.5.scd.template
